/* Colours */
:root {
  --light-blue: hsl(228deg 21% 96%);
  --dark-blue: hsl(228, 56%, 26%);
  --orange: #e84e1b;
  --very-light-gray-1: hsla(244, 42%, 25%, 0.102);
  --very-light-gray-2: hsla(0, 0%, 0%, 0.102);
  --gray: hsl(0, 0%, 73%);
  --green: #04AA6D;
  --dark-gray: #757575;
}

/* Typography */
/* Fonts */
/* Global reset */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  font-family: "Lexend Deca", sans-serif;
}

.persForm {
  background-color: var(--light-blue);
  margin: 10rem auto;
  font-family: "Lexend Deca", sans-serif;
  padding: 4rem;
  width: 70%;
  min-width: 30rem;
  border-radius: 3px;
  box-shadow: 0 6px 20px var(--very-light-gray-1), inset 0 1px 1px var(--very-light-gray-2);
  /* Verberg standaard alle tabs */
}
.persForm__title {
  text-align: center;
  font-size: 2.88rem;
  color: var(--dark-blue);
  margin-bottom: 2rem;
}
.persForm__steps {
  text-align: center;
  margin: 4rem 0 2rem 0;
}
.persForm .tab {
  display: none;
}
.persForm .tab__required-fields-text {
  font-size: 1.6rem;
  margin: 2rem 0 4rem 0;
}
.persForm .tab__title {
  font-size: 2.6rem;
  line-height: 1.08;
  color: var(--dark-blue);
  margin-top: 4rem;
  margin-bottom: 3rem;
  font-weight: 600;
}
.persForm .tab .select-group {
  position: relative;
}
.persForm .tab .select-group .select-button {
  display: flex;
  padding: 0 2rem;
  margin-bottom: 3rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.3rem;
  height: 6rem;
  width: 100%;
  background-color: white;
  box-shadow: 6px 6px 20px rgba(41, 37, 91, 0.2), inset 0 1px 1px rgba(0, 0, 0, 0.05);
  color: var(--dark-gray);
  border: 1px solid #ededed;
  font-size: 1.4rem;
  position: relative;
  cursor: pointer;
}
.persForm .tab .select-group .select-button:focus {
  border: 2px solid #000;
}
.persForm .tab .select-group .select-button .select-label {
  font-family: "Lexend Deca", sans-serif;
  color: black;
}
.persForm .tab .select-group .select-button .select-label--placeholder {
  color: var(--dark-gray);
}
.persForm .tab .select-group .select-button .arrow {
  border: solid var(--orange);
  border-width: 0 3px 3px 0;
  padding: 4px;
  transition: 0.3s ease;
}
.persForm .tab .select-group .select-button .arrow--down {
  transform: rotate(45deg);
}
.persForm .tab .select-group .select-button .arrow--up {
  transform: rotate(225deg);
}
.persForm .tab .select-group .dropdown {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  gap: 0.1rem;
  position: absolute;
  width: 100%;
  top: 9rem;
  background-color: white;
  box-sizing: border-box;
  border: 1px solid #ededed;
  box-shadow: 2px 4px 5px #dedede;
  border-radius: 0.3rem;
  overflow-y: auto;
  max-height: 9rem;
  z-index: 999;
  scrollbar-color: var(--orange) var(--gray);
}
.persForm .tab .select-group .dropdown::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}
.persForm .tab .select-group .dropdown::-webkit-scrollbar-thumb {
  background: var(--orange);
}
.persForm .tab .select-group .dropdown::-webkit-scrollbar-track {
  background: var(--gray);
}
.persForm .tab .select-group .dropdown input:checked + label {
  color: var(--orange);
}
.persForm .tab .select-group .dropdown .option {
  display: none;
}
.persForm .tab .select-group .dropdown .select-item {
  display: block;
  margin: 0;
  padding: 0.25rem 0.5rem;
  font-weight: 400;
  background-color: #FFFFFF;
  color: black;
}
.persForm .tab .select-group .dropdown .select-item:hover {
  background-color: #f2f2f2;
}
.persForm .tab .select-group .hidden {
  display: none;
}
.persForm .tab .fieldset-container {
  background-color: white;
  box-shadow: 6px 6px 20px rgba(41, 37, 91, 0.2), inset 0 1px 1px rgba(0, 0, 0, 0.05);
  border: 1px solid #ededed;
  margin: 1rem 0 2rem 0;
  border-radius: 3px;
}
.persForm .tab fieldset {
  display: flex;
  margin: 1.5rem 0;
  padding: 2rem 2rem 0rem;
  border: none;
}
.persForm .tab fieldset legend {
  font-size: 1.4rem;
}
.persForm .tab fieldset div {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}
.persForm .tab fieldset div label {
  font-size: 1.4rem;
  color: #000;
  font-weight: normal;
  margin: 0;
}
.persForm .tab .dynamic-row {
  border: 1px solid #ededed;
  border-radius: 3px;
  padding: 2rem;
  margin: 3rem 0;
  box-shadow: 6px 6px 20px rgba(41, 37, 91, 0.2), inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.persForm .tab .dynamic-row__title {
  display: flex;
  justify-content: end;
  font-size: 1.4rem;
  color: var(--dark-blue);
}
.persForm .tab .dynamic-row__remove-button-container {
  display: flex;
  justify-content: end;
}
.persForm .tab .dynamic-add-button-container {
  display: flex;
  justify-content: start;
  margin: 0 0 5rem 0;
}

p {
  margin: 1.4rem 0;
}

label {
  font-size: 1.4rem;
  display: block;
  margin-bottom: 1rem;
  color: var(--dark-blue);
  font-weight: 600;
}

input[type=text], input[type=date], input[type=tel], input[type=email], select, textarea {
  font-size: 1.4rem;
  font-family: inherit;
  box-shadow: 6px 6px 20px rgba(41, 37, 91, 0.2), inset 0 1px 1px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  height: 6rem;
  padding: 0 2rem;
  margin-bottom: 3rem;
  width: 100%;
  display: block;
  color: var(--blue-gray);
  line-height: 2rem;
  border: 1px solid #ededed;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  height: 10rem;
  padding: 2rem;
  resize: vertical;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

.button {
  background-color: var(--orange);
  color: #ffffff;
  border: none;
  border-radius: 3px;
  padding: 1rem 2rem;
  font-family: inherit;
  font-size: 1.8rem;
  cursor: pointer;
}
.button:hover {
  opacity: 0.8;
}
.button#prevBtn {
  background-color: #bbbbbb;
}
.button--red {
  background-color: red;
}
.button--green {
  background-color: var(--green);
}

/* Maak cirkels, die de stappen van het formulier aangeven */
.step {
  height: 3rem;
  width: 3rem;
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0 2px;
  background-color: var(--gray);
  border: none;
  border-radius: 50%;
  opacity: 0.5;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: var(--green);
}

details summary {
  width: 100%;
  background: var(--orange);
  color: white;
  font-size: 1.8rem;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 1rem;
}

/*# sourceMappingURL=style.css.map */
