/* Colours */
:root {
    // Primary
    --light-blue: hsl(228deg 21% 96%);;                 // background colour form
    --dark-blue: hsl(228, 56%, 26%);                    // labels
    --orange: #e84e1b;                                  // Orange buttons

    // Neutral
    --very-light-gray-1: hsla(244, 42%, 25%, 0.102);    // box-shadow colour 1
    --very-light-gray-2: hsla(0, 0%, 0%, 0.102);        // box-shadow colour 2
    --gray: hsl(0, 0%, 73%);                            // Background colour steps
    --green: #04AA6D;                                   // Background colour steps finished
    --dark-gray: #757575;                               // Placeholder text colour

}

// Mixins
@mixin scrollbars($size: 15px,
    $foreground-color: var(--orange),
    $background-color: var(--gray)) {

    // For Chrome & Safari
    &::-webkit-scrollbar {
        width: $size;
        height: $size;
        overflow: scroll;
    }

    &::-webkit-scrollbar-button:single-button:vertical:decrement {
        border-color: transparent transparent #9b6a2f transparent;
    }

    &::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
        border-color: transparent transparent white transparent;
    }

    &::-webkit-scrollbar-button:single-button:vertical:increment {
        border-color: #9b6a2f transparent transparent transparent;
    }

    &::-webkit-scrollbar-button:single-button:vertical:increment:hover {
        border-color: white transparent transparent transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--orange);
    }

    &::-webkit-scrollbar-track {
        background: var(--very-light-gray-1);
    }

    // Standard version (Firefox only for now)
    scrollbar-color: var(--orange) var(--very-light-gray-1);
}

/* Typography */

/* Fonts */
$font-primary: 'Lexend Deca', sans-serif;

/* Global reset */
* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 1rem = 10px (10px/16px = 62.5%)
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    font-family: $font-primary;
}

.persForm {
    background-color: var(--light-blue);
    margin: 10rem auto;
    font-family: $font-primary;
    padding: 4rem;
    max-width: 144rem;
    min-width: 30rem;
    border-radius: 3px;
    box-shadow: 0 6px 20px var(--very-light-gray-1), inset 0 1px 1px var(--very-light-gray-2);
    
    &__title {
        text-align: center;
        font-size: 2.88rem;
        color: var(--dark-blue);
        margin-bottom: 2rem;
    }

    &__steps {
        text-align: center;
        margin: 4rem 0 2rem 0;
    }

        /* Verberg standaard alle tabs */
        .tab {
            display: none;

            &__required-fields-text {
                    font-size: 1.6rem;
                    margin: 2rem 0 4rem 0;
            }
    
            &__title {
                font-size: 2.6rem;
                line-height: 1.08;
                color: var(--dark-blue);
                margin-top: 4rem;
                margin-bottom: 3rem;
                font-weight: 600;
            }

            .formfields-container {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(min(25rem, 100%), 1fr));
                gap: 3rem 1.5rem;
            }

            // Custom select field
            .select-group {
                position: relative;

                .select-button {
                    display: flex;
                    padding: 0 2rem;
                    justify-content: space-between;
                    align-items: center;
                    border-radius: .3rem;
                    height: 6rem;
                    width: 100%;
                    background-color: white;
                    //box-shadow: 0 6px 20px rgba(41, 37, 91, .04), inset 0 1px 1px rgba(0, 0, 0, .05);
                    box-shadow: 6px 6px 20px rgb(41 37 91 / 20%), inset 0 1px 1px rgb(0 0 0 / 5%);
                    color: var(--dark-gray);
                    border: 1px solid #ededed;
                    font-size: 1.4rem;
                    position: relative;
                    cursor: pointer;

                    &:focus {
                        border: 2px solid #000;
                    }

                    .select-label {
                        font-family: $font-primary;
                        color: black;

                        &--placeholder {
                            color: var(--dark-gray);
                        }

                    }

                    .arrow {
                        border: solid var(--orange);
                        border-width: 0 3px 3px 0;
                        padding: 4px;
                        transition: .3s ease;
                        &--down {
                            transform: rotate(45deg);
                        }

                        &--up {
                            transform: rotate(225deg);
                        }
                    }

                }

                .dropdown {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 1rem 1.5rem;
                    gap: 0.1rem;
                    position: absolute;
                    width: 100%;
                    top: 9rem;
                    background-color: white;
                    box-sizing: border-box;
                    border: 1px solid #ededed;
                    box-shadow: 2px 4px 5px #dedede;
                    border-radius: .3rem;
                    overflow-y: auto;
                    max-height: 9rem;
                    z-index: 999;
                    @include scrollbars;

                    input {

                        &:checked+label {
                            color: var(--orange);
                        }

                    }

                    .option {
                        display: none;
                    }

                    .select-item {
                        display: block;
                        margin: 0;
                        padding: 0.25rem 0.5rem;
                        font-weight: 400;
                        background-color: #FFFFFF;
                        color: black;

                        &:hover {
                            background-color: #f2f2f2;
                        }
                    }

                }

                .hidden {
                    display: none;
                }
            }

            .fieldset-container {
                margin-top: 3rem;
                display: flex;

                fieldset {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        gap: 1.5rem;
                        width: 100%;
                        padding: 2rem;
                        background-color: white;
                        border: 1px solid #ededed;
                        box-shadow: 6px 6px 20px rgb(41 37 91 / 20%), inset 0 1px 1px rgb(0 0 0 / 5%);
                        position: relative;
                        font-size: 1.4rem;
                
                        legend {
                            font-size: 1.4rem;
                            position: absolute;
                            top: -3rem;
                            left: 0;
                            color: var(--dark-blue);
                            font-weight: 600;
                        }

                        div {
                            display: flex;
                            gap: 1rem;
                            align-items: center;
                            flex-wrap: wrap;

                            p {
                                display: flex;
                                gap: 1rem;
                                align-items: center;
                                flex-wrap: nowrap;
                            }
                
                            label {
                                font-size: 1.4rem;
                                color: #000;
                                font-weight: normal;
                                margin: 0;
                                cursor: pointer;
                            }
                
                            input[type="radio"] {
                                -webkit-appearance: none;
                                -moz-appearance: none;
                                appearance: none;
                                cursor: pointer;
                                background-color: #fff; // For iOS < 15 to remove gradient background
                                margin: 0; // Not removed via appearance
                                width: 1.2rem;
                                height: 1.2rem;
                                outline: 2px solid darkgray;
                                outline-offset: 2px;
                                border-radius: 50%;
                                transition: .3s;
                            }
                
                            input[type="radio"]:checked {
                                background-color: orange;
                            }
                
                        }
                    }
            }
    
            

            &__sub-title {
                font-size: 2.2rem;
                color: var(--dark-blue);
                margin-bottom: 3rem;
                font-weight: 600;
            }

            .dynamic-row {
                border: 1px solid #ededed;
                border-radius: 3px;
                padding: 2rem;
                margin: 3rem 0;
                box-shadow: 6px 6px 20px rgb(41 37 91 / 20%), inset 0 1px 1px rgb(0 0 0 / 5%);

                &__title {
                    display: flex;
                    justify-content: end;
                    font: {
                        size: 1.4rem;
                        weight: 600;
                    }
                    color: var(--dark-blue);
                }

                &__remove-button-container {
                    display: flex;
                    justify-content: end;
                }
            }

            .dynamic-add-button-container {
                display: flex;
                justify-content: start;
                margin: 0 0 5rem 0;
            }

            .accordion {
                border-radius: 3px;
                box-shadow: 6px 6px 20px rgb(41 37 91 / 20%), inset 0 1px 1px rgb(0 0 0 / 5%);
                border: 1px solid #ededed;

                &__header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 6rem;
                    background: white;
                    
                    padding: 0 2rem;
                    border-radius: 5px;
                    cursor: pointer;

                    &-title {
                        color: var(--dark-blue);
                        font: {
                            size: 1.6rem;
                            weight: 600;
                        }
                    }

                    &-arrow {
                        border: solid var(--orange);
                        border-width: 0 3px 3px 0;
                        padding: 4px;
                        transition: .3s ease;
                        transform: rotate(45deg);
                    }
                }

                &__panel {
                    padding: 2rem;

                    .checkbox {
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                        margin: 0;

                        &-input {
                            display: inline-flex;
                        }
                    
                        &-label {
                            display: inline-flex;
                            margin: 0;
                            font-weight: normal;
                            color: black;
                        }
                    }

                    .checkbox + .checkbox {
                        margin-top: 1.5rem;
                    }

                    
                }

                &[open] {
                    transition: .3s ease;
                    background-color: #ededed;
                    
                    .accordion__header {

                        &-arrow {
                            transform: rotate(225deg);
                        }
                    }
                }
            }

            .accordion + .accordion {
                margin-top: 2rem;
            }

            .accordion + .checkbox {
                margin-top: 2rem;
            }

            .checkbox + .accordion {
                margin-top: 2rem;
            }

            .checkbox {
                display: flex;
                align-items: center;
                gap: 1rem;
                margin: 0;

                &-input {
                    display: inline-flex;
                }

                &-label {
                    display: inline-flex;
                    margin: 0;
                }
            }

            .checkbox + .checkbox {
                margin-top: 1.5rem;
            }

            input[type="checkbox"] {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                display: inline-flex;
                cursor: pointer;
                background-color: #fff; // For iOS < 15 to remove gradient background
                margin: 0; // Not removed via appearance
                width: 1.2rem;
                height: 1.2rem;
                outline: 2px solid darkgray;
                outline-offset: 2px;
                border-radius: 2%;
                transition: .3s;
            }

            input[type="checkbox"]:checked {
                background-color: orange;
            }
            
        }

        .nav-buttons-container {
            display: flex;
            justify-content: end;
            margin: 5rem 0 0 0;
            gap: 1rem;
        }
}


p {
    margin: 0;
}

label {
    font-size: 1.4rem;
    display: block;
    margin-bottom: 1rem;
    color: var(--dark-blue);
    font-weight: 600;
}

input[type=text], input[type=date], input[type=tel], input[type=email], select, textarea {
    font-size: 1.4rem;
    font-family: inherit;
    //box-shadow: 0 6px 20px rgba(41, 37, 91, .04), inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 6px 6px 20px rgb(41 37 91 / 20%), inset 0 1px 1px rgb(0 0 0 / 5%);
    border-radius: 3px;
    height: 6rem;
    padding: 0 2rem;
    width: 100%;
    display: block;
    color: var(--blue-gray);
    line-height: 2rem;
    border: 1px solid #ededed;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

textarea {
    height: 10rem;
    padding: 2rem;
    resize: vertical;    
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
    background-color: #ffdddd;
}



.button {
    background-color: var(--orange);
    color: #ffffff;
    border: none;
    border-radius: 3px;
    padding: 1rem 2rem;
    font-family: inherit;
    font-size: 1.8rem;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }

    &#prevBtn {
        background-color: #bbbbbb;   
    }

    &--red {
        background-color: red;
    }

    &--green {
        background-color: var(--green);
    }
}

/* Maak cirkels, die de stappen van het formulier aangeven */
.step {
    height: 3rem;
    width: 3rem;
    font-size: 1.4rem;
    font-weight: 600;
    margin: 0 2px;
    background-color: var(--gray);
    border: none;
    border-radius: 50%;
    opacity: 0.5;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: var(--green);
}