/* Colours */
:root {
    // Primary
    --gradient: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%)); // gradient colour meter bar

    // Neutral
    --pale-blue: hsl(243, 100%, 93%); // Colour of icons
    --grayish-blue: hsl(229, 7%, 55%); // Text of GB left
    --dark-blue: hsl(228, 56%, 26%); // Background divs
    --very-dark-blue: hsl(229, 57%, 11%); // Background icons and color number of GB left
    --orange: #e84e1b; // Oranje navigatiebuttons
}

/* Typography */

/* Fonts */
$font-primary: 'Lexend Deca', sans-serif;

/* Global reset */
* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 1rem = 10px (10px/16px = 62.5%)
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    font-family: $font-primary;
}

#regForm {
    background-color: #fff;
    margin: 100px auto;
    font-family: $font-primary;
    padding: 40px;
    width: 70%;
    min-width: 300px;
    border-radius: 3px;
    box-shadow: 0 6px 20px rgb(41 37 91 / 10%), inset 0 1px 1px rgb(0 0 0 / 10%);
}

.form__title {
    text-align: center;
    font-size: 2.88rem;
    color: #29255b;
    margin-bottom: 2rem;
}

p {
    margin: 1.4rem 0;
}

label {
    font-size: 1.44rem;
    display: block;
    margin-bottom: 1rem;
    color: var(--dark-blue);
    font-weight: 600;
}

input[type=text], input[type=date], input[type=tel], input[type=email], select, textarea {
    font-size: 1.8rem;
    font-family: inherit;
    box-shadow: 0 6px 20px rgba(41, 37, 91, .04), inset 0 1px 1px rgba(0, 0, 0, .05);
    border-radius: 3px;
    height: 6rem;
    padding: 0 2rem;
    margin-bottom: 3rem;
    width: 100%;
    display: block;
    color: #8c8fa3;
    line-height: 2rem;
    border: 1px solid #ededed;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select-group {
    position: relative;

    label {
        display: block;
        font-weight: 500;
        padding: 2rem 0 0.5rem;
        }

    .select-button {

        // #select-label {

        // }

        display: flex;
        padding: 1rem;
        justify-content: space-between;
        align-items: center;
        border-radius: .3rem;
        height: 6rem;
        width: 100%;
        background-color: white;
        box-shadow: 0 6px 20px rgba(41, 37, 91, .04), inset 0 1px 1px rgba(0, 0, 0, .05);
        color: #8c8fa3;
        border: 1px solid #ededed;
        position: relative;

        &:focus {
            border: 2px solid #000;
        }

        .arrow {
            border: solid var(--orange);
            border-width: 0 3px 3px 0;
            padding: 4px;
            transform: rotate(45deg);
        }

    }    

    .dropdown {
        position: absolute;
        width: 100%;
        top: 11.5rem;
        background-color: white;
        box-sizing: border-box;
        border: 2px solid #d3d9f0;
        border-radius: .3rem;
        overflow: hidden;

        input {
            border: 2px solid #d3d9f0;
            width: 100%;
            box-sizing: border-box;
            border-radius: 0.3rem;
            height: 6rem;
            padding: 1rem;

            &:focus {
                border: 2px solid #2659ff;
            }

            &:checked+label {
                color: var(--orange);
            }

        }

        .option {
            display: none;
        }

        .select-item {
            display: block;
            padding: 1rem;
            font-weight: 400;
            background-color: #FFFFFF;
            color: black;

            &:hover {
                background-color: #f2f2f2;
            }
        }

    }

    .hidden {
        display: none;
    }
}

textarea {
    height: 10rem;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
    background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
    display: none;

    &__title {
        font-size: 2.6rem;
        line-height: 1.08;
        color: #29255b;
        margin-bottom: 3.4rem;
        font-weight: 500;
    }
}

button {
    background-color: var(--orange);
    color: #ffffff;
    border: none;
    padding: 1rem 2rem;
    font-family: inherit;
    font-size: 1.8rem;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

#prevBtn {
    background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
    height: 3rem;
    width: 3rem;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    opacity: 0.5;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #04AA6D;
}

details {

    summary {
        width: 100%;
        background: var(--orange);
        color: white;
        font-size: 1.8rem;
        padding: 5px;
        border-radius: 5px;
        margin-bottom: 1rem;
    }
}